*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-warp {
    height: 72px;
    width: 100%;
    display: block;
    background-color: rgb(30, 41, 59);
}
.header{
    height: 100%;
    padding: 0 200px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    padding-left: 20px;
}
.logo-text{
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.logo img {
    height: 70%;
    
}
.menu{
    height: 70%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li{
    margin:0;
    padding: 0;
}
.menu li a{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    justify-self: right;
    margin-right: 32px;
    color: rgb(55, 65, 81);
    font-style: none;
    cursor: pointer;
    transition: color 0.3s;

}

.menu li a:hover {
    color: skyblue;
}
.profile{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.profile-icon{
    height: 36px;
    width: 36px;
}