body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 100%;
    width: 200px;
}

.logo img {
    height: 100%;
    width: auto;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.menu li:hover {
    color: #ff6347;
}

